/* You can add global styles to this file, and also import other style files */


/* To Define Styles to all Material component we used */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Custom CSS Classes */

.mat-card {
    text-align: -webkit-center;
}

.demo-toolbar {
    display: flex;
    align-items: center;
    width: 60%;
}

.demo-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.demo-full-width {
    width: 100%;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
}

mat-toolbar-row {
    justify-content: space-between;
}

.done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
}

.content-center {
    text-align: -webkit-center;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-info {
    color: #494c159e;
    background-color: #dee4e6;
    border-color: #bce8f1;
}

strong {
    font-size: 30px;
}


/* Specific class for table */

.example-container[_ngcontent-c21] {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-elevation-z8 {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.mat-cell {
    text-align: -webkit-left;
}

.mat-header-cell {
    text-align: left;
}

img {
    border-radius: 20px;
    height: 70px;
}
.mat-toolbar.mat-accent {
    background: #44ad8a!important;
    color: rgba(0,0,0,.87);
}

/* End Table Class */